::selection {
  background-color: #007bff;
/*  filter: blur(0.007em);*/
}

body {
    background-color: #02040F;
    overflow-x: hidden;
}
.nav-item-hover a{
    opacity: .7;
    text-decoration: none;
}
.nav-item-hover a:hover{
    opacity: 1;
}
.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.landing {
    margin-top: 10vh;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@keyframes move {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }

    100% {
        transform: translateY(45vw);
        opacity: 0;
    }
}

@keyframes rotate-container {
    0% {
        transform:
            perspective(1000px) translateZ(0px);
    }

    100% {
        transform:
            perspective(1000px) translateZ(150px);
    }
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background: url(../assets/intro.png);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.project-card {
    cursor: pointer;
    height: 20vh;
    background: url(../assets/bloodline.png);
    background-size: cover;
    background-position: center;
}
.project2{
    background: url(../assets/portal.png);
    background-size: cover;
    background-position: center;
}
.project3{
    background: url(../assets/cyber-security-banner.jpg);
    background-size: cover;
    background-position: center;
}



.modal-content {
    background-color: #002642;
}


@media (max-width: 576px) {

    .button-sm {
        margin-bottom: 20vh !important;
        margin-top: 20vh !important;
    }




}@media (min-width: 576px) {

    .modal-dialog {
    max-width: 90%;
}




}
@media (max-width: 768px) {

.w-50 {
        width: 100%!important;
    }

}

.nav-color {
    background-color: #02040F;
}

@media (min-width: 992px) {
    .border-lg-0 {
        border: 0 !important;
    }
}

.project-header {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(../assets/bloodline.png);
    background-position: center;
    background-size: cover;
}
.sap{
    background: url(../assets/portal.png);
    background-position: center;
    background-size: cover;
}
.enc{
    background: url(../assets/cyber-security-banner.jpg);
    background-position: center;
    background-size: cover;
}

.rounded-btn {
        border-radius: 50px!important;
}


/*colors*/
.yellow{
    color: #E59500;
}
.bg-reddish{
    background: #840032!important;
}

/*Loader screen setup*/
.loader{
    height: 100vh;
    width: 100vw;
    background: #02040F;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.loader-h1, .loaderlike-h1 {
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: calc(20px + 5vw);
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #1da9cc;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
}
.loaderlike-h1{
    animation: shake 2.5s linear infinite;
}
.loader-h1 span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
            clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.loader-h1::before,
.loader-h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

.loader-h1::before {
    animation: crack1 2.5s linear forwards;
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.loader-h1::after {
    animation: crack2 2.5s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
            clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}

/*End Loader screen setup*/

.nav-item-hover a {
  color: #797878;
  margin: 0 20px;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.nav-item-hover a span::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2px solid white;
  border-left: 2px solid white;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.nav-item-hover a span::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.nav-item-hover a::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 2px solid white;
  border-top: 2px solid white;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.nav-item-hover a::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.nav-item-hover a:hover {
  color: white;
}
.nav-item-hover a:hover::before {
  opacity: 1;
  right: 5px;
  top: 5px;
}
.nav-item-hover a:hover::after {
  opacity: 1;
  left: 5px;
  bottom: 5px;
}
.nav-item-hover a:hover span::before {
  opacity: 1;
  left: 5px;
  top: 5px;
}
.nav-item-hover a:hover span::after {
  opacity: 1;
  right: 5px;
  bottom: 5px;
}
